.heading-x-large {
    font-size: 48px;
    font-weight: 800;
}

.img-block img {
    width: 100%;
}

.about-us img {
    width: 100%;
}

.main-text {
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
}

.more-text {
    color: black;
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 1px dotted ;
}
