<div class="row">
    <div class="col-lg-9">
    </div>
    <div class="col-lg-3">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="website">Change page size</label>
                <select id="website" formControlName="website" class="form-control" (change)="changeWebsite($event)">
                    <option>Change Page size</option>
                    <option *ngFor="let web of websiteList">{{web.page}}</option>
                </select>
                <div *ngIf="f.website.touched && f.website.invalid" class="alert alert-danger">
                    <div *ngIf="f.website.errors.required">Name is required.</div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 thumb" *ngFor="let img of galleryList">
            <div>
                <figure>
                    <img [src]="img.download_url" alt="img" width="100%" height="100%"
                        class="g-image img-fluid img-thumbnail">
                </figure>
                <p>{{img.author}}</p>
            </div>
        </div>
    </div>
</div>